
@{
    ViewBag.Title = "Recommendations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recommendations</h2>

<div id="recommendationsControllerContainer" data-ng-controller="recommendationsController as rec">
    <div class="row">
        <div class="grid-example col s12"><span class="flow-text">I am always full-width (col s12)</span></div>
        <div class="grid-example col s12 m6"><span class="flow-text">I am full-width on mobile (col s12 m6)</span></div>
    </div>


</div>