

<h3 class="center-align">Identify</h3>
<div class="row">
    <div class="section">
        <div class="col s6 m6 green darken-1 z-depth-1">.</div>
        <div class="col s6 m6 green  z-depth-2">.</div>
    </div>
    <div class="section container">
        <p class="flow-text"> Is your plant <break> plant name here?</break></p>
    </div>
    <div class="container valign-wrapper">
        <a href="#">
        <div class="col offset-s1 s4 valign">
            <i class="medium mdi-action-thumb-up"></i>
        </div>
        </a>
        <div class="col offset-s2 s4 valign ">
            <i class="medium mdi-action-thumb-down"></i>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(
            function () {
                localStorage.setItem();
            });
        //  send thumbs down  to next result
        $('.mdi-action-thumb-down').click(function () {

        })
    </script>
}