

<h5>Click below to upload photos of your plant for more information</h5>

<div>
    <form action="/plant/upload" method="post" class="dropzone" id="photo">
        <div class="fallback dropzone" id="myDropzone">
            <input name="image" type="file" enctype="multipart/form-data" multiple />
        </div>
    </form>
</div>



@section Scripts {


    <script type="text/javascript" src="~/Scripts/DropZone.js"></script>
    <script type="text/javascript">

        
        $(document).ready(function () { 
        Dropzone.options.myAwesomeDropzone = { // The camelized version of the ID of the form element

            // The configuration of dropzone
            autoProcessQueue: true,
            uploadMultiple: false,
            parallelUploads: 1,
            maxFiles: 1,

            // Setting up of the dropzone
            init: function () {
                var myDropzone = this;
                $("#photo").click(function (e) {
                e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                }
                );
                }

            } 
        });


    </script>
}