@{
    ViewBag.Title = "Index";
}

<link rel="=stylesheet" type="text/css" href="Dropzone.css" />

<h5>Click below to upload photos of your plant for more information</h5>

<div>
    <form action="/plant/upload" method="post" class="dropzone" id="photo">
        <div class="fallback dropzone" id="myDropzone">
            <input name="image" type="file" enctype="multipart/form-data" multiple />
        </div>
    </form>
</div>



@section Scripts {


    <script type="text/javascript" src="~/Scripts/DropZone.js"></script>
    <script type="text/javascript">

        
        $(document).ready(function(){
            postCall = function (e) {
                e.preventDefault();
                var form = $("#photo");

                if(form.valid()){
                    $.ajax({
                        url: "/plant/upload",
                        data: form,
                        type: "POST",
                        dataType: 'JPG'
                    });
                }
                else {
                    console.log("Photo did not upload");
                }
            } 
        });

    </script>
}