
<div class="container" id="idControllerContainer" data-ng-controller="idController as plants">
    <div class="section">
        <h3 class="center-align">Identify</h3>
        <div class="row">
            <div class="section">
                <div class="col s6 m6 green darken-1 z-depth-1"></div>
                <div class="col s6 m6 green  z-depth-2"></div>
            </div>
            <div class="section container">
                <p class="flow-text">Is your <em>plant</em> <break>name or <em>likeness</em> here?</break>
                <div class="container valign-wrapper">
                    <div class="col offset-s1 s4 valign">
                        <a href="thumbsup"><i class="medium mdi-action-thumb-up green-text"></i></a>
                    </div>
                    <div class="col offset-s2 s4 valign ">
                        <a href="thumbsdown"><i class="medium mdi-action-thumb-down brown-text" data-ng-submit="plants.submit()"></i></a>
                    </div>
                </div>
                <div class="container valign-wrapper" ng-repeat="image in plants.item track by image.id">
                    <br />
                    <span class="col s4">Plant Name: {{image.plantNames}}</span>
                    <img class="col s6" ng-src={{image.imageUrl}}>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var imageUrl = encodeURI("@ViewBag.imgurl");
    </script>
    @*	<script>*@
    @*$(document).ready(
                function () {
                    //inital photo handling

                    // secondary photo
                    var response,
                        plantList = {};
                    $.getJSON("/plant/jvquery", function onSuccess(response) {

                        plantList = response;
                        i = 0;

                        localStorage.setItem("Plants", response);
                        for (var i; i === response.length; i++) {
                            console.log(response.images.key + "," + response.image.value);
                        }
                    });
                }
                );

            ////  send thumbs down  to next result
            //$('.mdi-action-thumb-down').click(function () {
            //})
        </script>*@


    <script src="~/Scripts/plant.ng.identify.js" type="text/javascript"></script>
    <script type="text/javascript">
        plant.page.startUp = function () {
            plant.page.idController = plant.ng.getControllerInstance($('#idControllerContainer'));
            //	plant.page.getPhotos.get();
        }

        plant.services.idfactory = function ($baseService) {
            var plantServiceObj = plant.services.getPlants;
            var newService = $.extend(true, {}, plantServiceObj, $baseService)
            return newService;
        }

        plant.page.idControllerFactory = function ($scope, $baseController, $idService) {
            var viewModel = this;
            viewModel.item = null;
            viewModel.idService = $idService;
            viewModel.receivedItems = _onSuccess;
            viewModel.onResultError = _onResultError;

            viewModel.getPlants = _getPlants;

            $.extend(viewModel, $baseController);
            viewModel.notify = viewModel.idService.getNotifier($scope);

            render();

            function render() {
                //viewModel.getCompare();
                viewModel.getPlants('http://sabiohack4la.azurewebsites.net/img/yellow_hibiscus.jpg', viewModel.receivedItems, viewModel.onResultError);
            }


            function _getPlants(imageUrl, onSuccess, onError) {

                var imagePath;

                var url = "/plant/jvquery/";
                var settings = {
                    dataType: JSON,
                    type: "get",
                    data: {
                        imagePath: imageUrl
                    },
                    success: onSuccess,
                    error: onSuccess,
                }
                $.ajax(url, settings);
            }

            //function _getCompare(originalUrl) {
            //	viewModel.notify(function () {
            //		var response,
            //			plantList = {};

            //		viewModel.$scope.getJSON("/plant/jvquery" + originalUrl, function onSuccess(response) {

            //			plantList = response;
            //			i = 0;

            //			localStorage.setItem("Plants", response);
            //			for (var i; i === response.length; i++) {
            //				console.log(response.images.key + "," + response.image.value);
            //			}
            //		});
            //	}
            //			);

            //}


            function _onSuccess(result) {
                viewModel.notify(function () {
                    var resp = JSON.parse(result.responseText);
                    //viewModel.item = result.items;
                    viewModel.item = resp.images;
                    console.log("Hello there");
                    console.log(viewModel.item);
                });
            }

            function _onResultError(jqXhr, error) {
                viewModel.notify(function () {
                    console.log("Danger Will Robinson, Danger!!!");
                    console.log(error);
                });
            }

        }

        plant.ng.addService(plant.ng.app.module,
            "$idService",
            ["$baseService"],
            plant.services.idfactory);
        plant.ng.addController(plant.ng.app.module,
            "idController",
            ["$scope", "$baseController", "$idService"],
            plant.page.idControllerFactory);

    </script>
}
