@{
    ViewBag.Title = "MyGarden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title></title>
    <style>
        .container {
            width: 80%;
        }

        .center {
            margin: 0px auto;
        }


        .row .col.l4 {
            width: 245px;
            margin-left: 5px;
        }

        .card {
            padding-top: 11px;
        }

            .card .card-image {
                padding-top: 11px;
            }

        .btn-floating {
            position: fixed;
        }

        .card .card-title {
            font-size: 14px;
        }
    </style>
</head>


<div class="col s6 m4 l2"><a class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-content-add"></i></a></div>

<div class="container" data-ng-controller="gardenController as garden" id="PlantControllerElement">
    <div class="row">
        <div class="col s12 m12 l12"><h3>My Garden</h3></div>

    </div>
    <!--Card Reveals-->
    <div class="row valign">
        <div class="center card small col s12 m4 l4" ng-repeat="gar in garden.item">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" ng-src={{gar.ImagePath}}>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{gar.PlantName}}<i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="/garden/list">Suggestions</a></p>
                <p><a href="#">Unplant</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Watering<i class="mdi-navigation-close right"></i></span>
                <p>Flame azalea prefers moist soil but never soggy, waterlogged soil. This is why well-draining soil is so important. Water flame azalea generously when the top of the soil feels slightly dry, wetting the soil to a depth of 8 to 12 inches. Avoid overhead watering, and keep the foliage as dry as possible. Watering at the base of the plant with a garden hose or soaker is best, because this azalea is susceptible to fungal and bacterial diseases in humid conditions. Proper watering, adequate air circulation and a neat, tidy garden help prevent moisture-related diseases.</p>
            </div>
        </div>
        @*<div class="center card small col s12 m4 l4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://128.253.192.70/users/dws/12_10_06/EriogonumArborescens/EriogonumArborescens3.JPG">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Santa Cruz Island buckwheat (Eriogonu...)<i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">Unplant</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Watering<i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
        <div class="center card small col s12 m4 l4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://plants.usda.gov/gallery/large/meli7_001_lhp.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Snow in Summer (Melaleuca...)<i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">Unplant</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Watering<i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="row valign">
        <div class="center card small col s12 m4 l4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://www.notsohollowfarm.ca/wp-content/uploads/2014/02/Peachleaf-Willow-leaf-1.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Peachleaf willow<i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">Unplant</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Watering<i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
        <div class="center card small col s12 m4 l4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://www.herbalteasonline.com/wp-content/uploads/2015/04/Mulberry-Leaf.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Mullberry<i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">Unplant</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Watering<i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
        <div class="center card small col s12 m4 l4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://www.nhm.ac.uk/resources-rx/images/1008/trk4-cherrylaurel-leaf-banner_67030_1.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Cherry laurel (Pru...)<i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">Unplant</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Watering<i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>*@
    @*</div>
    <div class="row valign">
        <div class="center card small col s12 m4 l4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://www.thefitindian.com/wp-content/uploads/2013/10/curry-leaves.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Curry Tree (Mur...)<i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">Unplant</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Watering<i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>*@
    </div>
    <div class="divider"> <!--Stats--></div>
    <div class="row">
        <div class="center col s12 m12 l4">
            <i class="large mdi-communication-invert-colors-on" id="consumption"></i>
            <h5>Water Consumption</h5>
            <p>Currently using 0.5 gallons a day</p>
        </div>
        <div class="center col s12 m12 l4">
            <i class="large mdi-image-filter-vintage"></i>
            <h5>My Garden's Rating</h5>
            <p>8.5/10</p>
        </div>
        <div class="center col s12 m12 l4">
            <i class="large mdi-action-visibility"></i>
            <h5>Neighborhood's Rating</h5>
            <p>5.7/10</p>
        </div>

    </div>

</div>

<script src="~/Scripts/MyGarden.js"></script>






