@{
    ViewBag.Title = "MyGarden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title></title>
    <style>
        .container {
            width: 80%;
        }

        .center {
            margin: 0px auto;
        }

        .card {
            padding-left: 2px;
            padding-right: 2px;
        }
         .btn-floating {
           text-transform:lowercase;
        }

    </style>
</head>

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12"><h2>My Garden</h2></div>
        <div class="col s6 m4 l2"><a class="btn-floating btn-large waves-effect waves-light red"><i>add</i></a></div>
       
    </div>
    <!--Card Reveals-->
    <div class="row">
        <div class="center card col s12 m6 l4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Flame_Azalea_Rhododendron_calendulaceum_%27Mandarin_Red%27_Leaf_Closeup_3264px.jpg/800px-Flame_Azalea_Rhododendron_calendulaceum_%27Mandarin_Red%27_Leaf_Closeup_3264px.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Flame Azalea<i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">Unplant</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
        <div class="center card col s12 m6 l4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://placehold.it/350x150">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
        <div class="card col s12 m6 l4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://placehold.it/350x150">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col s12 m6 l4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://placehold.it/350x150">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
        <div class="card col s12 m6 l4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://placehold.it/350x150">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
        <div class="card col s12 m6 l4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://placehold.it/350x150">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="divider"> <!--Stats--></div>
    <div class="row">
        <div class="center col s12 m12 l4">
            <i class="large mdi-communication-invert-colors-on" id="consumption"></i>
            <h5>Water Consumption</h5>
            <p>Currently using 5 gallons a day</p>
        </div>
        <div class="center col s12 m12 l4">
            <i class="large mdi-image-filter-vintage"></i>
            <h5>My Garden's Rating</h5>
            <p>8.5/10</p>
        </div>
        <div class="center col s12 m12 l4">
            <i class="large mdi-action-visibility"></i>
            <h5>Neighborhood's Rating</h5>
            <p>5.7/10</p>
        </div>

    </div>

</div>









